body {padding: 5px;
    margin: 01;
     background-color: #C0C0C0;}


 h1 {background-color: #E0E0E0;
    padding: 17px; 
      color: #6B737D;
    font-family: Arial, Helvetica, sans-serif;}


    p#forteen  { padding: 5px;
        margin: 0;
        background-color: #0180E4;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#thirteen  {padding: 5px;
        margin: 0; background-color: #008AEA;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#tweelv {padding: 5px;
        margin: 0; background-color: #0293ED;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#eleven  {padding: 5px;
        margin: 0; background-color: #25A1F0;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#ten  {padding: 5px;
        margin: 0; background-color: #4AAFF1;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#nine  { padding: 5px;
        margin: 0;
            background-color: #6ABCF3;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#eight  {padding: 5px;
        margin: 0; background-color: #85C4F3;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#seven  {padding: 5px;
        margin: 0; background-color: #00A187;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#six  {padding: 5px;
        margin: 0; background-color: #E8AEBE;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#five  {padding: 5px;
        margin: 0; background-color: #E395B0;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#four  {padding: 5px;
        margin: 0; background-color: #D9829B;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#three  {padding: 5px;
        margin: 0; background-color: #D1718A;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#two  {padding: 5px;
        margin: 0; background-color: #CC617C;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#one  {padding: 5px;
        margin: 0; background-color: #C0506A;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}

        p#zero  {padding: 5px;
        margin: 0; background-color: #B93C5D;
     color: white;
    font-family: Arial, Helvetica, sans-serif;}